# Deny for files
*.log
*.log.*
*.cer
*.key
*.pem
*.csr
*.sql.*
*.sql
.env*
*.json
*.bak
*.old
_*.*

# Include swagger JSON-file
!swagger/*.json

# Always add empty file for sync empty folders
!.gitkeep

